*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background-color: #003147;
    color: white;
}

a {
    text-decoration: none;
    color: white;
}

li {
    list-style: none;
}