img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.activity__image-figure {
    height: 20rem;
}

.activity__image {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
}

.activity__image-description {
    position: relative;
    bottom: 50;
    left: 0;
    background: rgba(0, 49, 71, 0.7);
    border-top-right-radius: 1rem;
}