

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.activity__image-figure{
    height: 20rem;
}

.activity__image{
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    // position: absolute;
}

.activity__image-description{
    // position: relative;
}