

.login__input{
    border: none;
    padding: 0.5rem;
    margin-bottom: 1rem;
}

.login__title{
    margin-block: 1rem;
}

.login__button{
    border-radius: 0.25rem;
    background-color: #E9E9E9;
    color: #003147;
    margin-inline: 2rem;
    border: none;
    padding: 0.75rem;
    text-align: center;
}

.logo{
    display: flex;
    justify-content: center;
}